<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
		<link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

		<title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
		<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
		<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!--		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

		<script>
			var _hmt = _hmt || [];
			(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?e798185f6fb8d4680a600e5bce9364a4";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
			})();
		</script>
    </head>

	<body>
<header>
	<div class="inner">
		<!--<div class="col-md-4 text-right">
					<img class="img-circle" src="https://avatars3.githubusercontent.com/u/10909656?v=3&amp;s=460" height="50" width="50">
				</div>-->
		<div id="mycontainer" class="row">
			<div class="col-md-8">
				<h2>{{ site.description | default: site.github.project_tagline }}</h2>
			</div>
		</div>
	</div>

</header>

		<div class="inner">
			<div id="mycontainer" class="row">
				<div class="col-md-2 text-left">
					<a href="/">
						<h1>Book</h1></a>
				</div>

				<div class="col-md-2 text-left">

					<a href="/blog">
						<h1>Article</h1></a>
				</div>
				<!-- <div class="col-md-2 text-left">
					<a href="/about">
						<h1>Speaking</h1></a>
				</div> -->
				<div class="col-md-2 text-left">
					<a href="/about">
						<h1>About</h1></a>
				</div>
			</div>
		</div>

		<div id="content-wrapper">

			<div class="inner clearfix">

				<section id="main-content">
					{{ content }}
				</section>

				<aside id="sidebar">

				           {% if site.github.is_project_page %}
                    <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
                  {% endif %} 

				</aside>
			</div>
		</div>
		<div class="inner">
		<footer class="inner clearfix">
			This is site data created from the demo by [Jonathan McGlone](http://jmcglone.com) and used in a [step-by-step beginners guide](http://jmcglone.com/guides/github-pages) to creating and hosting a personal website using GitHub and Jekyll. You can view the demo data at
			http://hankquinlan.github.io and read the guide at
				http://jmcglone.com/guides/github-pages.
		</footer>
		</div>
	</body>

</html>